<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Error</title>
</head>

<body>
    <section class="container">
        <form class="form" action="/">
            <header>
                Invalid Credentials
            </header>
            <input type="submit" class="button" value="Back">
        </form>
    </section>
</body>

</html>