<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>HomePage</title>
</head>

<body>
    <section class="container">
        <form class="form" action="/">
            <header>
                User is Logged in
            </header>
            <input type="submit" class="button" value="Logout">
        </form>
    </section>
</body>

</html>